# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

cmake-build-debug-mingw_for_stm32/
cmake-build-release-mingw_for_stm32/